*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #51B4E8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
    margin: 60px;
}

